.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  gap: 1rem;
  padding-top: 1rem;
  background: rgba(196, 196, 196, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(196, 196, 196, 0.42);
}
