.pushable {
  width: 80%;
  background: #595353;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  text-align: left;
}
.front {
  display: block;
  padding: 12px 34px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #ab9f9f;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
